
Distance_Sampling_Lecture/.DS_Store
Distance_Sampling_Lecture/Abundance_All.jpeg
Distance_Sampling_Lecture/Adult.jpeg
Distance_Sampling_Lecture/AdultBurrow.jpeg
Distance_Sampling_Lecture/arch.jpeg
Distance_Sampling_Lecture/cawa.jpeg
Distance_Sampling_Lecture/cleo.jpeg
Distance_Sampling_Lecture/clint.jpeg
Distance_Sampling_Lecture/Core_Predicted.jpeg
Distance_Sampling_Lecture/Figure_Burrows.jpeg
Distance_Sampling_Lecture/Figure_Burrows2.jpeg
Distance_Sampling_Lecture/Fire.jpeg
Distance_Sampling_Lecture/mod.jpeg
Distance_Sampling_Lecture/opal.jpeg
Distance_Sampling_Lecture/perrin.jpeg
Distance_Sampling_Lecture/Site_Map.jpeg
Distance_Sampling_Lecture/SizeDist.jpeg
Distance_Sampling_Lecture/SpeciesRichness.jpeg
Distance_Sampling_Lecture/tiny.jpeg
Distance_Sampling_Lecture/Tinyburrow.JPG
Distance_Sampling_Lecture/Trailing_Predicted.jpeg
Distance_Sampling_Lecture/veg1.jpeg
Distance_Sampling_Lecture/Veg2.jpeg
Distance_Sampling_Lecture/Veg3.jpeg
Initial Values/.Rhistory
Initial Values/jags.data_pigs.txt
Initial Values/Piggies.txt
